.filterModalContent, .filterModalFooter {
    display: flex;
    gap: 1rem;
}

.filterModalContent {
    flex-direction: column;
}

.filterModalFooter {
    flex-direction: row;
    margin: 1rem 0;
}

.filterButton {
    background-color: var(--blue-700);
}